<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662686228815-bt9ghhph0ht4gat56cd8qv0ogc28s4ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662686228815-bt9ghhph0ht4gat56cd8qv0ogc28s4ni</string>
	<key>API_KEY</key>
	<string>AIzaSyC1B3UALuAwQJHw20V0aYdnflnGC_D9o3s</string>
	<key>GCM_SENDER_ID</key>
	<string>662686228815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Walter.study.Instargram</string>
	<key>PROJECT_ID</key>
	<string>instagarm-86c71</string>
	<key>STORAGE_BUCKET</key>
	<string>instagarm-86c71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662686228815:ios:0653e0d607cd1f754b253a</string>
</dict>
</plist>